{%extends "layout.html"%}
{% block title %}
About
{% endblock %}
{% block content %}

<body class="text-center">
    <div class="container bg-gradient">
        <h3 class="align-self-lg-center"><u>whoami</u></h3>
        <h5>
            Network engineer looking to get into the world of DevOps. Automation enthusiast.
            I like Python 🐍, so i decided to make this web app in Flask.
            If it somehow isn't clear, I really enjoy astronomy.🌌🚀👩‍🚀🌍
        </h5>
        <h5>
            I enjoy working with people 🤝🏻, teaching 👨‍🏫, playing video games 🎮 and drinking nice coffee ☕.
            Currently a teaching assistant.
        </h5>
        <h5>If you would like to connect with me, feel free to reach out to me through GitHub.</h5>
        <h5>Have a nice day!</h5>
        <a class="btn align-content-bottom btn-lg btn-secondary mt-5" href="https://github.com/k-nikola">My GitHub</a>
</body>
{% endblock %}