{%extends "layout.html"%}
{% block title %}
k-nikola
{% endblock %}
{% block content %}

<body class="text-center">
    <div class="container bg-gradient">
        <h3 class="align-self-lg-center">Welcome</h3>
        <h4>If you would like to visit beautiful star systems, with habitable exoplanets and experience the event
            horizon of a black hole, you
            are in the right place!
        </h4>
        <h5>Click the button below to book your interstellar vacation!</h5>
    </div>
    <div class="container mt-5">
        <a name="get_started" class="btn align-content-bottom btn-lg btn-primary" href="{{ url_for('book') }}">Get
            started</a>
    </div>
</body>
{% endblock %}